.productItem {
  padding: 24px 16px;
  // box-shadow: 5px 10px 18px #000;
  img {
    height: 300px;
    width: 161px;
  }

  .productItem__info {
    display: flex;
    flex-flow: column;
    align-items: center;

    h1 {
      text-align: center;
    }
  }
}
